PORT=5000
MONGO_URI=mongodb+srv://your_username:your_password@cluster.mongodb.net/collabsplus?retryWrites=true&w=majority
NODE_ENV=development
JWT_SECRET=your_super_secret_jwt_key_change_this_in_production
JWT_EXPIRE=30d
